@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBook.otf');
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMediumRegular.ttf');
}
@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBoldRegular.ttf');
}
.tit__man{
   margin: 40px 0 70px 80px;
   color:#626262;
   font-family: 'gotham-medium';
   font-size: 20px;
}
.hojas{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: #626262;
    font-size: 20px;
    margin: 0 60px 40px 0;
}
.flechas{
    display: flex;
    position: relative;
    align-items: flex-start;
    top: -12px;
    gap: 8px;
    margin-left: 15px;
}
.bi-arrow-left{
    fill:#ce7386;
    width: 30px;
    height: 30px;
}
.bi-arrow-right{
    fill:#b3345b;
    border:1px solid #626262;
    border-radius: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
}
.folletos{
    display: flex;
    gap: 140px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.folleto{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.img__folleto{
    width: 250px;
    height: 230px;
}
.tit__folleto{
   color: #626262; 
   font-family: 'gotham';
   font-size: 15px;
}
/*
         'blanco': '#f5f5f5',
            'morado': '#5d1250',
            'crema': '#f3d2d7',
            'fucsia': '#b3345b',
            'gris': '#626262',
            'rosado': '#ce7386',
            'verde': '#3f747e',*/