
@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBook.otf');
}

@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMediumRegular.ttf');
}

@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBoldRegular.ttf');
}

.loginImage {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Fondo-LogingContraseña.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loginLogo {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
}

.inputContainer {
    
}